@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');



/* Start - COULEURS DU SITE - OK */
:root{
    --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
    --border:.2rem solid var(--MSP);
    --blanche: #ffff;
    --noir: #222;
    --gris: #888;
    --gold: #dec105;
    --MSP: #00b5c6;
    --persan: #00b5c6;
    --green:#00b5c6;
    --black:#444;
    --light-color:#777;
    --primaire: #00b5c6;

}
/* End - COULEURS DU SITE - OK */



/* Start - PARAMETRAGE DE LA POLICE D'ECRITURE GLOBALE DU SITE - OK */
*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    /*text-transform: capitalize;*/
    transition: all .2s ease-out;
    text-decoration: none;
}
/* End - PARAMETRAGE DE LA POLICE D'ECRITURE GLOBALE DU SITE - OK */


/* Start - PARAMETRES GENERAUX : SITE, SECTIONS, EN TÊTE DU SITE - OK */
    /* Start - PARAMETRES SITE - OK */
html{
    font-size: 60%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
    /* End - PARAMETRES SITE - OK */



    /* Start - PARAMETRES SECTIONS - OK */
section{
    padding:2rem 9%;
}
section:nth-child(even){
    background: #f5f5f5;
}
    /* End - PARAMETRES SECTIONS - OK */



    /* Start - PARAMETRES NAVBAR EN TÊTE DU SITE - OK */
header .logo {
    font-size: 25px;
}
header .logo span {
    color:var(--MSP);
}
    /* End - logo navbar - OK */
header .navbar a {
    position: relative;
    margin: 0 10px;
    text-decoration: 0;
    color: #999;
    transition: 0.5s;
}
header .navbar a:before {
    position: absolute;
    top: -2px;
    content: "";
    width: 0;
    height: 2px;
    background-color:var(--MSP);
    transition: 0.5s;
}
header .navbar a:hover:before {
    width: 100%;
}
header .navbar a:hover {
    color: var(--persan);
}
    /* End - PARAMETRES NAVABAR EN TÊTE DU SITE - OK */
/* End - PARAMETRES GENERAUX : SITE, SECTIONS, EN TÊTE DU SITE - OK */



/* Start - PARAMETRAGES DES TITRES DES SECTIONS - OK */
.heading {
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color:var(--MSP);
    font-size: 4rem;
    letter-spacing: .4rem;
}
/* End - PARAMETRAGES DES TITRES DES SECTIONS - OK */



/* Start - PARAMETRAGE DES BOUTONS DU SITE - OK */
.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color: var(--persan);
    cursor: pointer;
    font-size: 1.7rem;
}
.btn span {
    padding: .7rem 1rem;
    border-radius: .5rem;
    background: var(--persan);
    color: var(--blanche);
    margin-left: .5rem;
}
.btn:hover {
    background: var(--persan);
    color: var(--blanche);
}
.btn:hover span {
    background: var(--blanche);
    color: var(--persan);    
    margin-left: 1rem;
}
/* End - PARAMETRAGE DES BOUTONS DU SITE - OK */



/* Start - EN TÊTE DU SITE + LOGO + MENU / NAVBAR - OK */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 2rem 9%;
}
.header .logo{
    font-size: 2.5rem;
    color: var(--noir);
}
.header .logo i{
    color: var(--MSP);
}
    /* Start - TRAIT DU MENU NAVBAR - OK */
.header .navbar a{
    font-size: 1.7rem;
    color: var(--light-color);
    margin-left: 2rem;
}
.header .navbar a:hover{
    color: var(--MSP);
}
    /* End - TRAIT DU MENU NAVBAR - OK */

    /* Start - MENU-BTN - OK */
#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: var(--blanche);
    color:var(--persan);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}
    /* End - Menu BTN - OK */
/* End - EN TÊTE DU SITE + LOGO + MENU / NAVBAR - OK */


/* Start - BANNIERE - OK */
.banner-wrapper {
    position: relative;
}

#banniere {

    position: fixed;
    width: 100%;
    background-position: 10%;
    background-size: cover;
    margin-bottom: 10px;
    margin-top: 4rem;
    background-image: url(../image/Banners/Kerfin7-NEA-2129.jpg);
    background-color: #00b5c6;
    top: 0;
    z-index: 999; /* Assurez-vous qu'il a un z-index plus élevé que le menu */
    padding-top: 18rem; /* Ajustez la valeur pour augmenter la hauteur de la bannière */
    height: 15vh; /* Ajustez la valeur selon vos besoins */
}

/* Styles for the banner */
.banniere {
    background-color: #007BFF;
    color: #e932af;
    padding-bottom: 10px;
    text-align: center;
    font-size: 7px;
    position: relative; /* Ajout de la propriété position relative */
    z-index: 2; /* Ajout de la propriété z-index pour afficher au-dessus du contenu */
}

/* Styles for the scrolling text */
#scrolling-text {
    white-space: nowrap;
    overflow: hidden;
    width: 60%; /* Occuper 60% de la largeur de la bannière */
    animation: scrolling 15s linear infinite;
}
/* End - BANNIERE - OK */


/* Start - Section ACCUEIL - OK */
.home {
    padding-top: 18rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
    align-items: center;
}
.home .image{
    flex:1 1 45rem;
}
.home .image img{
    width: 100%;
}

    /* Start - Section Home - Content OK*/
.home .content{
    flex:1 1 45rem;
}
.home .content h2{
    font-size: 4.5rem;
    color:var(--MSP);
    line-height: 1.5;
    text-shadow: var(--text-shadow);
}
.home .content h3{
    font-size: 2.9rem;
    color:var(--noir);
    line-height: 1.8;
    text-shadow: 2px 0 0 orange;
}
.home .content p{
    font-size: 1.7rem;
    color:var(--light-color);
    line-height: 1;
    padding: 1rem 0;
}
.home .content li{
    font-size: 1.4rem;
    color:var(--light-color);
    line-height: 1.2;
    padding: .75rem 0;
}
    /* End - Section Home - Content OK */
/* End - Section ACCUEIL - OK */





/* Start - Section Homecontent OK */
.homecontent {
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:2rem;
    align-items: center;
    gap:1.5rem;
}
.homecontent .image{
    flex:1 1 45rem;
}
.homecontent .image img{
    width: 100%;
}
/* Start - Section Homecontent - Content OK*/
.homecontent .content{
    flex:1 1 45rem;
}
.homecontent .content h2{
    font-size: 4.5rem;
    color:var(--MSP);
    line-height: 1.5;
    text-shadow: var(--text-shadow);
}
.homecontent .content h3{
    font-size: 2.9rem;
    color:var(--noir);
    line-height: 1.8;
    text-shadow: 2px 0 0 orange;
}
.homecontent .content p{
    font-size: 1.7rem;
    color:var(--light-color);
    line-height: 1;
    padding: 1rem 0;
    text-align: justify;
}
.homecontent .content li{
    font-size: 1.4rem;
    color:var(--light-color);
    line-height: 1.2;
    padding: .75rem 0;
}
/* End - Section Homecontent - Content OK */
/* End - Section Homecontent OK */




/* Start - Section MISSIONS OK */
.missions {
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
    align-items: center;
    gap:1.5rem;
}
.missions .image{
    flex:1 1 45rem;
}
.missions .image img{
    width: 100%;
}
/* Start - Section MISSIONS - Content OK*/
.missions .content{
    flex:1 1 45rem;
}
.missions .content h2{
    font-size: 4.5rem;
    color:var(--MSP);
    line-height: 1.5;
    text-shadow: var(--text-shadow);
}
.missions .content h3{
    font-size: 2.9rem;
    color:var(--noir);
    line-height: 1.8;
    text-shadow: var(--text-shadow);
}
.missions .content p{
    font-size: 1.7rem;
    color:var(--light-color);
    line-height: 1;
    padding: 1rem 0;
    text-align: justify;
}
.missions .content li{
    font-size: 1.4rem;
    color:var(--light-color);
    line-height: 1.2;
    padding: .75rem 0;
}
/* End - Section MISSIONS - Content OK */
/* End - Section MISSIONS OK */



/* Start - Section OBJECTIFS OK */
.objectifs {
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
    align-items: center;
    gap:1.5rem;
}
.objectifs .image{
    flex:1 1 45rem;
}
.objectifs .image img{
    width: 100%;
}
/* Start - Section OBJECTIFS - Content OK*/
.objectifs .content{
    flex:1 1 45rem;
}
.objectifs .content h2{
    font-size: 4.5rem;
    color:var(--MSP);
    line-height: 1.5;
    text-shadow: var(--text-shadow);
}
.objectifs .content h3{
    font-size: 2.9rem;
    color:var(--noir);
    line-height: 1.8;
    text-shadow: var(--text-shadow);
}
.objectifs .content p{
    font-size: 1.7rem;
    color:var(--light-color);
    line-height: 1;
    padding: 1rem 0;
    text-align: justify;
}
.objectifs .content li{
    font-size: 1.4rem;
    color:var(--light-color);
    line-height: 1.2;
    padding: .75rem 0;
}
/* End - Section OBJECTIFS - Content OK */
/* End - Section OBJECTIFS OK */



/* Start - Section SERVICES - Content OK */
.services {
    padding-top: 5px;
}

.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:2rem;
    align-items: center;
}
.services .title {
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: inherit;
    font-size: 4.5rem;
    color:var(--MSP);
    line-height: 1.5;
}
.services .subtile {
    font-size: 2rem;
    color:var(--MSP);
    line-height: 1.8;
    text-align: center;     
    width: 100%;
    height: 100%;
}
.services .box-container .box {
    background: var(--blanche);
    border-radius:  .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 2.5rem;
    text-align: justify;
}
.services .box-container .box i {
    color: var(--MSP);
    font-size: 5rem;
    padding-bottom: .5rem;
}
.services .box-container .box h3 {
    color: var(--noir);
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
}
.services .box-container .box p {
    color: var(--light-color);
    font-size: 1.4rem;
    padding:1rem 0;
}
/* End - Section SERVICES - Content OK */






/* End - Section INFOS PRATIQUES OK */
.infos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
    align-items: center;
    gap:1.5rem;
    padding-top: 5rem;
}
.infos .image{
    flex:1 1 85rem;
}
.infos .image img{
    width: 100%;
}
/* Start - Section Home - Content OK*/
.infos .content{
    flex:1 1 45rem;
}
/* Start - Section INFOS PRATIQUES - Content OK*/
.infos .content{
    flex:1 1 45rem;
}
.infos .content h2{
    font-size: 4.5rem;
    color:var(--MSP);
    line-height: 1.5;
    text-shadow: var(--text-shadow);
}
.infos .content h3{
    font-size: 2.9rem;
    color:var(--noir);
    line-height: 1.8;
    text-shadow: var(--text-shadow);
}
.infos .content p{
    font-size: 1.7rem;
    color:var(--light-color);
    line-height: 1,4;
    padding: 1rem 0;
    text-align: justify;
}
.infos .content li{
    font-size: 1.4rem;
    color:var(--light-color);
    line-height: 1.2;
    padding: .75rem 0;
}
/* End - Section INFOS PRATIQUES - Content OK */
/* End - Section INFOS PRATIQUES OK */





/* Start - Section A PROPOS DE NOUS / ICONES CONTAINER - Content OK */
.icontainer {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icontainer .content{
    font-size: 4rem;
    color:var(--MSP);
    line-height: 1.5;
    text-shadow: var(--text-shadow);
}
.icontainer .icones {
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding: 2.5rem;
    width: 100%;
}
.icontainer .icones i{
    color: var(--MSP);
    font-size: 4.5rem;
    padding-bottom:.7rem;
}
.icontainer .icones h3{
    color: var(--noir);
    font-size: 4.5rem;
    padding: .5rem 0;
    text-shadow: var(--text-shadow);
}
.icontainer .icones p{
    color: var(--light-color);
    font-size: 1.5rem;
}
/* End - Section A PROPOS DE NOUS / ICONES CONTAINER - Content OK */




/* Start - Section EQUIPE OK */
/* Start - Section EQUIPE - box-container OK*/
.equipe .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:2rem;
}
.equipe .subtile {
    font-size: 2rem;
    color:var(--MSP);
    line-height: 1.8;
    text-align: center;     
    width: 100%;
    height: 100%;
}
.equipe .box-container .equipe-box-container {
    text-align: center;
    background: var(--blanche);
    border-radius: .5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 2rem;
}
.equipe .box-container .equipe-box-container img {
    height: 20rem;
    border: var(--border);
    border-radius: .5remm;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.equipe .box-container .equipe-box-container h3 {
    color: var(--noir);
    font-size: 2rem;
}
.equipe .box-container .equipe-box-container span {
    color: var(--persan);
    font-size: 1.5rem;
}
.equipe .box-container .equipe-box-container .share {
    padding-top: 2rem;
}
.equipe .box-container .equipe-box-container .share a {
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color: var(--persan);
    border-radius: .5rem;
    border: var(--border);
    margin: .3rem;        
}
.equipe .box-container .equipe-box-container .share a:hover {
    background: var(--persan);
    color: var(--blanche);
    box-shadow: var(--box-shadow);
}
/* End - Section EQUIPE - box-container OK */
/* End - Section EQUIPE OK */



/* Start - Section BLOG - OK */
.blog .blogbox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    gap:2rem;
}
.blog .subtile {
    font-size: 2rem;
    color:var(--MSP);
    line-height: 1.8;
    text-align: center;     
    width: 100%;
    height: 100%;
}
.blog .blogbox .box {
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding:2rem;
/*  background: var(--blanche);
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 0;             */
}
.blog .blogbox .box .image {
    height: 20rem;
    /* overflow: hidden; */
    border-radius: .5rem;
    border: .5rem solid var(--gold);
}
.blog .blogbox .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.blog .blogbox .box:hover .image img {
    transform: scale(1.2);
}
.blog .blogbox .box .content {
    padding-top: 1rem;
}
.blog .blogbox .box .content .icon {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog .blogbox .box .content .icon a {
    font-size: 1.4rem;
    color: var(--light-color);
}
.blog .blogbox .box .content .icon a:hover {
    color: var(--persan);
}
.blog .blogbox .box .content .icon a i {
    padding-right: .5rem;
    color: var(--persan);
}
.blog .blogbox .box .content h3 {
    color: var(--noir);
    font-size: 3rem;
}
.blog .blogbox .box .content p {
    color: var(--light-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 1rem 0;
    text-align: justify;
}
/* End - Section BLOG - OK */



/* Start - Section CONTACTS - OK */
.contacts .contact {
    display: grid;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;  /* permet de créer de l'espace entre 2 div mises en parrallèle */  
}
.contacts .contact .adresse-postale-MSP{
    flex:1 1 45rem;
}
.contacts .contact .adresse-postale-MSP iframe {
    width: 100%;
}
.contacts .contact .caseprenom {
    text-decoration: 0;
    border: 2px solid var(--MSP);
    color: var(--noir);
    border-radius: 4px;
    padding: 1px 58px;
    margin-top: 3px;
    font-weight: 100;
    text-transform: initial;
    transition: 0.5s;
    font-weight: initial;
    text-align: center;
    width: 100%;      
}
.contacts .contact .caseprenom:hover {
    background-color: var(--MSP);
    color: var(--blanche);
    letter-spacing: 1px;
}
.contacts .contact .caseadmail {
    text-decoration: 0;
    border: 2px solid var(--MSP);
    color: var(--noir);
    border-radius: 4px;
    padding: 1px 58px;
    margin-top: 3px;
    margin-right: 1px;
    margin-left: 1px;
    font-weight: 50;
    text-transform: inherit;
    transition: 0.5s;
    font-weight: initial;
    text-align: center;
    width: 100%;  
}
.contacts .contact .caseadmail:hover {
    background-color: var(--MSP);
    color: var(--blanche);
    letter-spacing: 1px;  
}
.contacts .contact .casemessage {
    border: 2px solid var(--MSP);
    border-radius: 4px;
    margin-top: 3px;
    margin-right: 1px;
    margin-left: 1px;
    width: 100%;        
}
.contacts .contact .formulaire {
    flex:1 1 45rem;
}
.contacts .contact .formulaire legend {
    color: var(--persan);
    font-weight: bold;
    font-size: 1.5rem; 
}
.contacts .contact .formulaire h2 {
    margin-bottom: 4px;
    font-size: 2rem;
    color: var(--noir);
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 0 0 orange;
}
.contacts .contact .formulaire p {
    margin-bottom: 4px;
    color: var(--black) bold;
    font-size: 1.5rem;
    line-height: 1.2;
    padding: 1rem 0;
    padding-left: 10px;
    text-align: justify;
}
.contacts .contact .formulaire form {
   /* display: flex;*/
   /* flex-direction: column;*/
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 15px;
    margin: 0 auto;
    display: table;
}
.contacts .contact .formulaire form input , textarea {
    margin: 5px 0;
    padding: 5px;
    border: 2px solid var(--MSP);
    border-radius: 4px;
    resize: none; 
    outline: 0;  
}
/* à revoir */
.envoyer input {
    width: 87%;
    padding: 5px 55px;
    background-color: var(--MSP);
    background: var(--persan);
    border-radius: 4px;
    border : 0;
    color: var(--blanche);
    margin-top: 2px;
    margin-bottom: 2px;
    cursor: pointer;
    display: inline-block;
}
.envoyer input:hover {
    background-color: var(--blanche);
    color: var(--persan);
    letter-spacing: 1px;
    width: 100%;
    transition: all .4s ease-in;
    display: table;
    cursor: pointer;
}
.contacts .contact .adresse-postale-MSP {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    border: 5px solid var(--MSP);
    flex:1 1 45rem;
}
.contacts .contact .adresse-postale-MSP iframe {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 1.0);
}
/* End - Section CONTACTS - OK */







/* Start - Section FOOTER - OK */
.supfooter {
    background: var(--noir);
    width: 100%;
    padding: 2rem 1%;
    margin-top: 4rem;
    line-height: 1.2rem;
    padding: 0.75rem 1.5rem 0.75rem;
}
.footer .box-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1rem;
    background-color: var(--noir);
}
.footer .box-footer .box {
    background-color: var(--noir);
}

    /* Start - Section FOOTER - PARAMETRAGE DES BOXS - OK */
.footer .box-footer .box h3 {
    font-size: 2.5rem;
    color: var(--persan);
    padding: 2rem 0;
}
    /* End - Section FOOTER - PARAMETRAGE DES BOXS - OK */

    /* Start - Section FOOTER - PARAMETRAGE DES LIENS - OK */
.footer .box-footer .box a {
    display: block;
    font-size: 1.5rem;
    color: var(--gris);
    padding: 1rem 0;
}
    /* End - Section FOOTER - PARAMETRAGE DES LIENS - OK */

    /* Start - Section FOOTER - PARAMETRAGE DES CHEVRONS - OK */
.footer .box-footer .box a i {
    padding-right: .5rem;
    color: var(--MSP);
}
    /* End - Section FOOTER - PARAMETRAGE DES CHEVRONS - OK */

    /* Start - Section FOOTER - MISE EN RELIEF (SURBRILLANCE) DES LIENS - OK */
.footer .box-footer .box a:hover{
    color: var(--gold);
    padding-right: 2rem;
}
    /* End - Section FOOTER - MISE EN RELIEF (SURBRILLANCE) DES LIENS - OK */


    /* Start - Section COPYRIGHT -  */
.footer .copyright {
    background: var(--noir);
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 0rem;
    text-align: center;
    font-size: 12px;
    color: var(--gris);
    border-top: .5rem solid rgba(19, 169, 166, 0.3);
}
.footer .copyright a {
    color: var(--blanche);
}
.footer .copyright a:hover {
    color: var(--gold);
}
.footer .copyright span {
    color: var(--MSP);
}    
    /* End - Section COPYRIGHT -  */  
/* End - Section FOOTER -  */



/* Début : Réalisateur / Concepteur du site - OK */
.fin {
    background-color: var(--gris);
    text-align: center;
    font-size: 10px;
    padding: 5px 0;
    color: var(--blanche);
    width: 100%;
    border-top: .8rem solid rgba(19, 169, 166, 0.3);
    margin-top: 0rem;
}
.fin a {
    color: var(--blanche);
    background-color: var(--gris);
}

.fin a:hover {
    color: var(--gold);
    background-color: var(--gris);    
}
/* Fin : Réalisateur / Concepteur du site - OK */



/* Start - MEDIA QUERIES - OK */
@media screen and (max-width: 600px) {
    body {
        font-size: 14px; /* Ajustement pour les écrans étroits */
    }
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 18px; /* Ajustement pour les écrans larges */
    }
}

@media (max-width: 800px) {
    html {
        font-size: 45%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

    #banniere {
        top: 6rem; /* Ajustez la valeur selon vos besoins */
    }
}

@media (max-width: 600px){

    #menu-btn{
        display: initial;
    }
    
    .header .navbar{
        position: absolute;
        top: 115%;
        right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: var(--blanche);
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }
    
    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }
    
    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin:2.5rem;
    }

    #banniere {
        padding-top: 16rem; /* Ajustez la valeur selon les besoins */
        padding-bottom: 4rem;
        top: 4rem; /* Ajustez la valeur pour aligner avec le menu */
        height: 25vh; /* Ajustez la valeur selon vos besoins pour les écrans plus petits */
    }
}

@media (max-width:300px){
    
    html{
        font-size: 50%;
    }

    .homecontent{
        padding-top: 4px;
    }

    #banniere {
        padding-top: 15rem; /* Ajustez la valeur selon vos besoins */
        top: 7rem; /* Ajustez la valeur pour aligner avec le menu */
        padding-right: 20%;
    }
}

@keyframes scrolling {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}
/* End - MEDIA QUERIES - OK */
